body{
    width: 100%;
    margin: 0px;
    min-width: 100vh;
    align-items: center;
    justify-content: center;
}

.form_pesquisa
{
    border-radius: 20px !important;
    background-color: #3D5AF1 !important;
    border-color: #3D5AF1 !important; 
}

.ajuda
{
    background-color: #0E153A!important;
    color: white !important;

}

.link{
    text-decoration: none !important;
    margin-left: 10px !important;
    color: black !important; 
}
.botao_resenha
{
    background-color: #3D5AF1!important;
    color: white !important;
}
.botao
{
    background-color: #3D5AF1!important;
    color: white !important;
}
.texto_resenha
{
    padding: 5px !important;
    border-radius: 10px !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
     
}
.texto_entrar
{
    padding: 5px !important;
    border-radius: 10px !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    color: black!important;
     
}
.azul{
    
    width: 750px;
    height: 500px;
    background-color: #7098DA!important;
}
.linha{
    display: flex;
    width: 100%;
    background-color: black;
    border-width: 2px;
    border-color: black;
}
.pesquisa
{
    width: 600px !important;
    margin-top: 4px !important;

}
.categorias_home
{
    margin-top: 10px !important;
}

.fonte_artefatos
{
    font-family: 'Italianno';font-size: 22px !important;
    font-size: 40px !important;
}

.borda_ok{
    border-color: #3D5AF1 !important; 
}
.circulo_img
{
    width: 90px !important;
    height: 90px !important;
    margin-left: 100px !important; 
}
.circulo{ 
    font-family: 'Italianno';font-size: 60px !important;
}
 

.formulario_cadastro_itens
{
    margin-top: 20px !important; 
}
.cadastro_produtos_admin
{
    width: 70%;
    margin-top: 10px !important;
    margin-left: 100px !important;
    border-width: 3px !important;
    background-color: #7099da52 !important;
    padding: 10px !important;
}

.links_adm
{
    text-decoration: none !important;
    color: black !important;
}

.botao_adm
{
    margin-left: 900px !important ;
    margin-top: 50px !important;
    margin-top: 20px !important;
    background-color: #7098DA !important;
    color: white !important;
}

.filtro 
{
    width: 249px !important;
    height: 1100px !important;
    background-color: #EEEEEE !important; 
    padding: 7px !important;
    border-radius: 15px !important; 
    margin-left: 15px !important; 
}
.titulo_filtro
{
    margin-top: 7px !important;
    margin-bottom: 12px !important; 
}

.caixas_filtro
{
    width: 210px !important;
    height: 23px !important;
    color: white !important;
    background-color: #3D5AF1 !important;
    padding-bottom: 20px !important;
    padding-left: 2px !important; 
    margin-left: 5px !important;   
}
.checkbox
{
    margin-left: 10px !important; 
}
.valor{
    margin-top: 15px !important; 
    margin-right: 7px !important;
    width: 240px !important;
}

.branco
{
    display: flex !important;
    flex-direction: row !important; 
}

.figuras
{
    margin: 20px;
}