body{
    width: 100%;
    margin: 0px;
    min-width: 100vh;
    align-items: center;
    justify-content: center;
}

.form_pesquisa
{
    border-radius: 20px !important;
    background-color: #3D5AF1 !important;
    border-color: #3D5AF1 !important; 
}

.ajuda
{
    background-color: #0E153A!important;
    color: white !important;
}

.link{
    text-decoration: none !important;
    margin-left: 10px !important;
    color: black !important; 
}
.botao_resenha
{
    background-color: #3D5AF1!important;
    color: white !important;
}
.botao
{
    background-color: #3D5AF1!important;
    color: white !important;
}
.texto_resenha
{
    padding: 5px !important;
    border-radius: 10px !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
     
}
.texto_entrar
{
    padding: 5px !important;
    border-radius: 10px !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    color: black!important;
     
}
.azul{
    
    width: 750px;
    height: 500px;
    background-color: #7098DA!important;
}
.linha{
    display: flex;
    width: 100%;
    background-color: black;
    border-width: 2px;
    border-color: black;
}