body{
    width: 100%;
    margin: 0px;
    min-width: 100vh;
    align-items: center;
    justify-content: center;
}
.azulescuro{
    display: flex;
    width: 100%;
    height: 35px;
    background-color: #0E153A;
    align-items: center;
}

#texto-azulescuro{
    position: relative;
    margin-left: 91%;
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.azul{
    justify-content: space-around;
    position: relative;
    width: 100%;
    height: 134px;
    background-color: rgba(61, 90, 241, 1)!important;
}

.input
{
    position: absolute;
    top: 50px;
    width: 50%;
    height: 28px;
    outline: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    border-color: white;
    padding-left: 15px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-left: 220px;
}

.logo{
    position: absolute;
    width: 102px;
    height: 123px;
    margin-left: 50px;
    margin-top: 5px;
}

.livro{
    position: absolute;
    width: 60px;
    height: 60px;
    margin-left: 1060px;
    top: 35px;
}

.cabeceira{
    position: absolute;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    top: 50px;
    margin-left: 1124px;
    color: white;
}

.perfil{
    position: absolute;
    width: 52px;
    height: 52px;
    margin-left: 1280px;
    top: 38px;
}

.entrar{
    position: absolute;
    margin-left: 1340px;
    top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 28px; 
}
.carrinho{
    position: absolute;
    margin-left: 1450px;
    top: 42px;
    width: 52px;
    height: 52px;
}

.branco{
    width: 100%;
    height: 50px;
    background-color: white;
}
.linha{
    width: 100%;
    size: 10;
    color: black;
    margin-bottom: 20px;

}

.carrossel
{
    overflow: hidden;
    margin-left: 150px;
    width: 90%;
    height: 300px;
}

.container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);

}

img{
    object-fit: cover;
    width: 90%;
    height: 250px;
}

.retangulo_oferta
{
    width: 1243px;
    height: 75px;
    background-color: rgba(61, 90, 241, 1)
}

.livro1{
    width: 200px;
    height: 270px;
}

.filtro{
    background-color: rgba(238, 238, 238, 1);
    width: 249px;
    height: 691px;
}

.botao
{
    background-color: #0E153A;
    color: white;
}